<form nz-form [formGroup]="newTripForm" (ngSubmit)="emitTrip()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
      <input
        nz-input
        formControlName="tripName"
        placeholder="e.g. Tokyo Holiday"
      />
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')"
          >Your trip has to at least have a name!</ng-container
        >
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Location</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="tripLocation" placeholder="e.g. Tokyo" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Description</nz-form-label>
    <nz-form-control [nzSpan]="12" n>
      <textarea
        formControlName="tripDescription"
        nz-input
        rows="2"
        placeholder="Anything you'd like to add about this trip?"
      ></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!newTripForm.valid">
        <ng-container
          *ngIf="isExistingTrip; then UpdateTrip; else CreateTrip"
        ></ng-container>
        <ng-template #UpdateTrip>Update Trip</ng-template>
        <ng-template #CreateTrip>Create Trip</ng-template>
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
