<form nz-form [formGroup]="loginForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
      >E-mail</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="E-mail address is not valid"
    >
      <input nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired
      >Password</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
      <input
        nz-input
        type="password"
        id="password"
        formControlName="password"
      />
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')"
          >Please input your password</ng-container
        >
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <ng-template #errorTpl let-loginSuccess>
      <ng-container *ngIf="this.loginSuccess === false"
        >E-mail or Password incorrect, please try again</ng-container
      >
    </ng-template>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Login</button>
    </nz-form-control>
  </nz-form-item>
</form>
