// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$NS-Holiday-Planner-primary: mat.define-palette(mat.$indigo-palette);
$NS-Holiday-Planner-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$NS-Holiday-Planner-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$NS-Holiday-Planner-theme: mat.define-light-theme(
  (
    color: (
      primary: $NS-Holiday-Planner-primary,
      accent: $NS-Holiday-Planner-accent,
      warn: $NS-Holiday-Planner-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($NS-Holiday-Planner-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer components {
  .formfield {
    @apply group-focus-within:border-blue-400 group-focus-within:shadow-md
    transition duration-300 
    rounded-2xl overflow-hidden shadow-sm border-2 border-blue-100 
    hover:border-blue-200;
  }
  .primary-button {
    @apply bg-button-primary text-white py-2 px-4
    cursor-pointer
    transition-all ease-in-out
    rounded-lg hover:rounded-2xl
    disabled:bg-gray-50 disabled:cursor-default disabled:rounded-full disabled:text-gray-400
    hover:bg-blue-400;
  }
}
